@model Vidly.Models.Venue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.localized_country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localized_country_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repinned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repinned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
