<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Evy Events", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Search Events", "SearchEvent", "EvyEvents")</li>
                <li>@Html.ActionLink("View Wishlist", "Index", "Fees")</li>
                <li>@Html.ActionLink("Browse Events", "Index", "Venues")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

